<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.dao.TStudentMapper" >
  <resultMap id="BaseResultMap" type="com.accp.pojo.TStudent" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="major" property="major" jdbcType="INTEGER" />
    <result column="grade" property="grade" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="INTEGER" />
    <result column="birthday" property="birthday" jdbcType="DATE" />
    <result column="tel" property="tel" jdbcType="INTEGER" />
    <result column="job" property="job" jdbcType="INTEGER" />
  </resultMap>
  
  <select id="selectByCodeAndTel" resultMap="BaseResultMap" >
    select id, code, name, major, grade, sex, birthday, tel, job
    from t_student
    where code=#{code} and  tel=#{tel}
  </select>
  
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, code, name, major, grade, sex, birthday, tel, job
    from t_student
  </select>
  
  
  
</mapper>